<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="m-3 p-3">Productos</h1>
        </div>
    </div>
    <div class="row">
        {{#each products}}

        <div class="col-sm-4">
                <div class="card border-0 m-3 w-50" id="{{this._id}}">
                    <div class="card-body">
                        <img src="{{this.thumbnails}}" class="img-fluid" style="max-width: 180px" alt="{{this.title}}">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text-center">{{this.description}}</p>
                        <p class="card-text-center">${{this.price}}</p>
                    </div>
                </div>   
        </div>        
            {{/each}}
    </div>
            
    </div>
</div>
