<div class="container">
    <div class="row m-4 p-2">
        <div class="card text-center">
            <h1 class="card-header">
                {{product.title}}
            </h1>
            <div class="card-body">
                <img src="{{product.thumbnails}}" alt="{{product.title}}" class="img-fluid">
                <h5 class="card-title m-4 p-2">Detalle:</h5>
                <p class="card-text m-2">{{product.description}}</p>
                <p class="card-text"><b>Precio: ${{product.price}}</b></p>
                <p class="card-text">Categoría: {{product.category}}</p>                
            </div>
            <div class="card-footer">
                <button class="btn btn-dark" onClick="agregarProductoAlCarrito('{{product._id}}')">Agregar al carrito</button>
            </div>
            <div class="card-footer">
                <a href="/products" class="btn btn-outline-dark">Seguir comprando</a>
            </div>
        </div>
    </div>  
</div>


<script src="/js/products.js"></script>